$bgColor: lighten(#AB24DB, 20%);

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #5199ed;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin-top: 1em;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #f4424b;
  z-index: 9000;
}

/* General sidebar styles */
.bm-menu {
  background: transparent;
  padding: 2.5em;
  font-size: 1.15em;
  width: 100%;
  z-index: 100;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: $bgColor;
}

/* Wrapper for item list */
.bm-item-list {
  color: $bgColor;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  z-index: 100
}
