// Change these colors!
$back-color: #b0a9a9;
$face-color: #252222;
$back-bg-color: #8e17cf;
$face-bg-color: #71f29f;

$card-width: 200px;
$card-height: 200px; // Feel free to change this to adjust the aspect ratio from square
$card-border: ($card-width * 0.1);

.sf-card {
  position: relative;
  box-sizing: border-box;
  width: $card-width;
  height: $card-height;
  -webkit-touch-callout: none;
  user-select: none;
}

.sf-wrap {
  position: absolute;
  top: 0;
  left: 50%;
  max-width: $card-width * 1.2;
  width: 100%;
  height: 100%;
  margin-left: ($card-width / 2) * -1;
  cursor: pointer;
  background-repeat: no-repeat;
  perspective: $card-width * 2;
}

.sf-mdl-left,
.sf-mdl-right,
.sf-mdl-left-full,
.sf-mdl-right-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transition: all 0.5s;
  overflow: hidden;
}

.sf-mdl-right,
.sf-mdl-right-full {
  right: 0;
  left: auto;
}

.sf-mdl-left-full,
.sf-mdl-right-full {
  z-index: 9;
  color: white;
  background-color: $face-bg-color;
  display: flex;
  flex-wrap: wrap;
}

.sf-mdl-left,
.sf-mdl-right {
  z-index: 10;
  color: $back-color;
  background-color: $back-bg-color;
}

.sf-wrap > .sf-mdl-right,
.sf-wrap > .sf-mdl-left-full {
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transform-origin: 0 0;
  transform: rotateY(0deg);
}

.sf-wrap:hover > .sf-mdl-right {
  transform: rotateY(-45deg);
  background-color: darken($back-bg-color, 10%);
}

.sf-wrap > .sf-mdl-left-full {
  transform-origin: 100% 0;
  transform: rotateY(180deg);
}

.sf-wrap.active, .sf-wrap:hover {
  //z-index: 90;
}

.sf-wrap.active > .sf-mdl-right,
.sf-wrap:hover.active > .sf-mdl-right {
  transform: rotateY(-180deg);
}

.sf-wrap.active > .sf-mdl-left-full {
  transform: rotateY(0deg);
}

.active .sf-mdl-left-full,
.active .sf-mdl-right-full {
  z-index: 11;
}

.sf-wrap .content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200%;
  height: 100%;
}

.sf-wrap div.sf-mdl-right .content,
.sf-wrap div.sf-mdl-right-full .content,
.sf-mdl-right .content,
.sf-mdl-right-full .content {
  right: 0;
  left: auto;
}

.sf-wrap .content img {
  width: $card-width - ($card-border * 2);
  height: $card-height - ($card-border * 2);
}

.sf-wrap .content.back {
  border: $card-border solid #fff;
  width: $card-width - ($card-border * 2);
  height: $card-height - ($card-border * 2);
  transition: border-color 0.5s;
}

.sf-wrap:hover > .sf-mdl-right .content.back {
  border: ($card-width * 0.1) solid darken(#fff, 10%);
}

.sf-card span {
  padding: 0.5em;

  &.long {
    font-size: 0.7em;
  }
}
